certifi==2019.6.16
chardet==3.0.4
Django==1.11
django-ckeditor==5.7.1
django-cors-headers==3.0.2
django-js-asset==1.2.2
django-simpleui==2.1.5
djangorestframework==3.9.4
idna==2.8
Pillow==8.1.1
pytz==2019.1
requests==2.22.0
urllib3==1.25.3
