<!--左侧导航栏开始-->
<header class="header text-center">
    {% if  request.COOKIES.username %}
        <h3 class="blog-name pt-lg-4 mb-0"><a href="index.html">{{ request.COOKIES.username }}</a></h3>
    {% else %}
        <h3 class="blog-name pt-lg-4 mb-0"><a href="index.html">理想国的博客</a></h3>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                {% if  request.COOKIES.avatar %}
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="/media/{{ request.COOKIES.avatar }}"
                         alt="头像">
                {% else %}
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="/static/assets/images/hzw.jpg"
                         alt="image">
                {% endif %}

                <div class="bio mb-3">全栈工程师,目标人工智能<br>
                    <a href="about.html">查看我的更多信息</a>
                    <br>
                    {% if  request.COOKIES.username %}
                        <a href="/logout/">注销</a>
                    {% else %}
                        <a href="/register/">注册</a>
                        <a href="/login/">登录</a>
                    {% endif %}

                </div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/index/"><i class="fas fa-home fa-fw mr-2"></i>博客首页<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/list/"><i class="fas fa-bookmark fa-fw mr-2"></i>文章分类</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/"><i class="fas fa-user fa-fw mr-2"></i>关于我</a>
                </li>
            </ul>

            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="#" target="_blank">联系我</a>
            </div>
        </div>
    </nav>
</header>
<!--左侧导航栏结束-->