<!--搜索栏开始-->
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">编程博客 - 分享各种编程知识</h2>
        <div class="intro">欢迎向我提交您想要看的技术博客</div>
        <form class="signup-form form-inline justify-content-center pt-3" action="/blog/list/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="semail">搜索你感兴趣的内容</label>
                <input type="text" id="semail" name="search" class="form-control mr-md-1 semail"
                       placeholder="请输入要搜索的内容">
            </div>
            <input type="submit" class="btn btn-primary" value="查询">
        </form>
    </div><!--//container-->
</section>
<!--搜索栏结束-->