<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            理想国真恵玩-博客
        {% endblock %}
    </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
            integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
            crossorigin="anonymous"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/theme-1.css">
</head>

<body>

{% include '_nav.html' %}
{% include '_choose_color.html' %}
<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
<div class="main-wrapper">
    {% include '_search.html' %}
    {% block main %}
    {% endblock %}
    {% include '_footer.html' %}

</div><!--//main-wrapper-->


<!-- Javascript -->
<script src="/static/assets/plugins/jquery-3.3.1.min.js"></script>
<script src="/static/assets/plugins/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script src="/static/assets/js/demo/style-switcher.js"></script>


</body>
</html> 

