<!DOCTYPE html>
<html lang="en">
<head>
  <title>博客列表</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog Template">
  <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- FontAwesome JS-->
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
          integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
          crossorigin="anonymous"></script>

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">

</head>

<body>

<!--左侧导航栏开始-->
<header class="header text-center">
  <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">理想国的博客</a></h1>

  <nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <div class="profile-section pt-3 pt-lg-0">
        <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/hzw.jpg" alt="image">

        <div class="bio mb-3">全栈工程师,目标人工智能<br>
          <a href="about.html">查看我的更多信息</a></div><!--//bio-->
        <ul class="social-list list-inline py-3 mx-auto">
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
        </ul><!--//social-list-->
        <hr>
      </div><!--//profile-section-->

      <ul class="navbar-nav flex-column text-left">
        <li class="nav-item active">
          <a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>博客首页<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw mr-2"></i>博客详情</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw mr-2"></i>关于我</a>
        </li>
      </ul>

      <div class="my-2 my-md-3">
        <a class="btn btn-primary" href="#" target="_blank">联系我</a>
      </div>
    </div>
  </nav>
</header>
<!--左侧导航栏结束-->

<div class="main-wrapper">
  <!--搜索栏开始-->
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
      <h2 class="heading">编程博客 - 分享各种编程知识</h2>
      <div class="intro">欢迎向我提交您想要看的技术博客</div>
      <form class="signup-form form-inline justify-content-center pt-3">
        <div class="form-group">
          <label class="sr-only" for="semail">搜索你感兴趣的内容</label>
          <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="请输入要搜索的内容">
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
      </form>
    </div><!--//container-->
  </section>
  <!--搜索栏结束-->

  <section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->
      <!--盒子开始-->
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg"
               alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
            <div class="meta mb-1"><span class="date">发布时间</span><span
                    class="time">阅读人数</span><span class="comment"><a href="#">评论数量</a></span></div>
            <div class="intro">
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
              文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
            </div>
            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
          </div><!--//media-body-->
        </div><!--//media-->
      </div>
      <!--盒子结束-->


      <nav class="blog-nav nav nav-justified my-5">
        <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">上一页<i
                class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
        <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">下一页<i
                class="arrow-next fas fa-long-arrow-alt-right"></i></a>
      </nav>

    </div>
  </section>

  <!--底部开始-->
  <footer class="footer text-center py-2 theme-bg-dark">
    <small class="copyright">作者 <i class="fas fa-heart"></i> 张大鹏
      <a href="http://lxgzhw520.com/" target="_blank" title="理想国真恵玩">理想国真恵玩</a>
    </small>
  </footer>
  <!--底部结束-->

</div><!--//main-wrapper-->


<!-- 选择主题颜色开始 -->
<div id="config-panel" class="config-panel d-none d-lg-block">
  <div class="panel-inner">
    <a id="config-trigger" class="config-trigger config-panel-hide text-center" href="#"><i
            class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
    <h5 class="panel-title">选择主题颜色</h5>
    <ul id="color-options" class="list-inline mb-0">
      <li class="theme-1 active list-inline-item"><a data-style="assets/css/theme-1.css" href="#"></a></li>
      <li class="theme-2  list-inline-item"><a data-style="assets/css/theme-2.css" href="#"></a></li>
      <li class="theme-3  list-inline-item"><a data-style="assets/css/theme-3.css" href="#"></a></li>
      <li class="theme-4  list-inline-item"><a data-style="assets/css/theme-4.css" href="#"></a></li>
      <li class="theme-5  list-inline-item"><a data-style="assets/css/theme-5.css" href="#"></a></li>
      <li class="theme-6  list-inline-item"><a data-style="assets/css/theme-6.css" href="#"></a></li>
      <li class="theme-7  list-inline-item"><a data-style="assets/css/theme-7.css" href="#"></a></li>
      <li class="theme-8  list-inline-item"><a data-style="assets/css/theme-8.css" href="#"></a></li>
    </ul>
    <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
  </div><!--//panel-inner-->
</div>
<!-- 选择主题颜色结束 -->

<!-- Javascript -->
<script src="assets/plugins/jquery-3.3.1.min.js"></script>
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script src="assets/js/demo/style-switcher.js"></script>


</body>
</html> 

