{% extends 'base.html' %}
{% block main %}
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            {% for article in articles %}
                <!--盒子开始-->
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="/media/{{ article.img }}"
                             alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="blog-post.html">{{ article.name }}</a></h3>
                            <div class="meta mb-1">
                                <span class="date">发布时间{{ article.pub_date }}</span>
                                <span class="time">阅读人数{{ article.views }}</span>
                                <span class="comment"><a href="#">评论数量{{ article.comment_num }}</a></span>
                                <span class="category"><a href="#">{{ article.category.name }}</a></span>
                            </div>
                            <div class="intro">
                                {{ article.desc }}
                            </div>
                            <a class="more-link" href="/detail/">阅读更多 &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div>
                <!--盒子结束-->
            {% empty %}

                <!--盒子开始-->
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="/static/assets/images/blog/blog-post-thumb-1.jpg"
                             alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="blog-post.html">文章的标题</a></h3>
                            <div class="meta mb-1">
                                <span class="date">发布时间</span>
                                <span class="time">阅读人数</span>
                                <span class="comment"><a href="#">评论数量</a></span>
                                <span class="category"><a href="#">分类名称</a></span>
                            </div>
                            <div class="intro">
                                文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                                文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                                文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                            </div>
                            <a class="more-link" href="blog-post.html">阅读更多 &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div>
                <!--盒子结束-->
            {% endfor %}


            <!--分页开始-->
            <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">上一页<i
                        class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                <a class="nav-link-next nav-item nav-link rounded" href="blog-list.html">下一页<i
                        class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav>
            <!--分页结束-->

        </div>
    </section>
{% endblock %}